.btn {
  padding: 10px 10px;
  color: whitesmoke;
  background-color: black;
  margin: 20px 0 10px 0;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.btn:hover {
  background-color: #404040;
  color: whitesmoke;
}
