.nav-compare {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.nav-compare .btn {
  width: 120px;
  padding: 15px 15px;
  background-color: #303030;
  color: whitesmoke;
  text-decoration: none;
}

.nav-compare .btn:hover {
  color: lightgreen;
}

.nav-compare .btn.selected {
  background-color: black;
}

.nav-compare-page {
  margin-top: 40px;
  /* width: 100%; */
}
