.form-group {
  padding: 20px;
  border: 1px solid black;
  width: 400px;
  border-radius: 10px;
}
.form-control label {
  display: block;
  margin: 5px 0;
}

.form-control input {
  padding: 5px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}
